@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */


/* @font-face {
    font-family: "Hind Madurai";
    src: url('../public/assets/fonts/Hind\ Madurai/HindMadurai-Bold.ttf');
    src: url('../public/assets/fonts/Hind\ Madurai/HindMadurai-Light.ttf');
    src: url('../public/assets/fonts/Hind\ Madurai/HindMadurai-Medium.ttf');
    src: url('../public/assets/fonts/Hind\ Madurai/HindMadurai-Regular.ttf');
    src: url('../public/assets/fonts/Hind\ Madurai/HindMadurai-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-Bold.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-ExtraBold.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-ExtraLight.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-Light.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-Medium.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-Regular.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-SemiBold.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-Thin.ttf");
    src: url("../public/assets/fonts/Monserrat/static/Montserrat-Black.ttf");
} */