@tailwind base;
@tailwind components;
@tailwind utilities;

/* overall Styles */

.backgroundSVG {
    background-image: url(../assets/images/backgroud.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2500px 1000px;
    z-index: 1;
}

.backgroundSVG-home {
    background-image: url(../assets/images/backgroud.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5000px 3000px;
    z-index: 1;
}

.home-height {
    height: calc(100vh - 11vh);
}

.shadow-menuButton {
    filter: drop-shadow(0px 0px 6px #e57c23);
}

.shadow-menuButton:hover {
    filter: drop-shadow(0px 0px 4px #e57c23);
}

.shadow-Logo {
    filter: drop-shadow(0px 0px 3px #E8AA42);
}


.unset {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  
/* Toastify React Style */

.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: #025464;
    color: #f8f1f1;
    outline: 1px solid #f8f1f1;
    font-family: "Hind Madurai", "sans-serif";
    text-transform: uppercase;
    font-weight: semibold;
    letter-spacing: 2px;
}

.Toastify__toast-container {
    width: 350px;
}

/* SweetAlert2 Style */

.swal2-title {
    text-transform: uppercase;
    font-family: "Hind Madurai", "sans-serif";
    letter-spacing: 1px;
}

.swal2-container {
    width: 375px !important ;
}

.swal2-html-container {
    text-transform: capitalize;
    font-family: "Hind Madurai", "sans-serif";
    letter-spacing: 0.1px;
}

.swal2-popup {
    background: #f8f1f1 !important;
    border: 1px solid #e57c23;
}

.swal2-confirm {
    background-color: #025464 !important;
    color: #f8f1f1 !important;
    font-weight: bold;
    border: none;
    outline: 2px solid #f8f1f1 !important;
    border-radius: 5px;
    width: 100px;
    padding: 8px;
    margin-bottom: 2.5em;
    cursor: pointer;

    &:active {
        background-color: #e8aa4240;
    }
}


