@tailwind base;
@tailwind components;
@tailwind utilities;




.backgroundSVG {
    background-image: url(../assets/images/backgroud.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2500px 1000px;
    z-index: 1;
}